<% provide(:title, @food_type.name) %>

<p id="notice"><%= notice %></p>

<div id="u99">
  <table>
  	<tbody>
    	<% @foods.each do |food| %>
      	<tr>
 	      <th>
  		   <div id="u100_img">
 	     	<%= link_to  '#' do %>
  			<%= image_tag("/images/chatacteristic_food/u99.png") %>
			<div id="u100"><%= food.name %></div>
			<% end %>
      		</div>
          </th>
      	</tr>
    	<% end %>
  	</tbody>
  </table>
</div>
