<% provide(:title, @food_type.name) %>

<p id="notice"><%= notice %></p>

<div id="u99">
  <table>
  	<tbody>
    	<% @foods.each do |food| %>
      	<tr>
 	      <th>
  		   <div id="u100_img">
 	     	<%= link_to food, remote: true, class: "show-food" do %>
  			<%= image_tag("/images/chatacteristic_food/u99.png") %>
			<div id="u100"><%= food.name %></div>
			<% end %>
      		</div>
          </th>
      	</tr>
    	<% end %>
  	</tbody>
  </table>
</div>

<div id="foodModal" class="modal hide">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row-fluid">
          <div class="span12">
            <div class="span6">
              <img src="/images/foods/test.jpg" width="140" height="140" >
            </div>
            <div class="span6">
              <h3 id="show-food-name" ></h3>
              <h3 id="show-food-price" ></h3>
              
              <div class="hide">
                <p6 id="food-id"></p6>
                <p6 id="authentication-id">88888888</p6>
              </div>

              <div class="input-prepend input-append">
                <h1 class="add-on">-</h1>
                <input class="span3" id="food-number" type="text">
                <h1 class="add-on">+</h1>
              </div>

              <div>
                <button id="add-to-dish" class="btn btn-large btn-warning" type="button">加入菜单</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>