<% provide(:title, '服务主页') %>
 	  
 	  <!-- Unnamed (Shape) -->
      <div id="u68" class="ax_shape">
        <img id="u68_img" class="img " src="/images/home_page/u68.png"/>
        <!-- Unnamed () -->
        <div id="u69" class="text">
          <p><span>经典烧烤系列</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u70" class="ax_shape">
        <img id="u70_img" class="img " src="/images/home_page/u70.png"/>
        <!-- Unnamed () -->
        <div id="u71" class="text">
          <p><span>车酷特色</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u72" class="ax_shape">
        <img id="u72_img" class="img " src="/images/home_page/u72.png"/>
        <!-- Unnamed () -->
        <div id="u73" class="text">
          <p><span>下酒凉菜系列</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u74" class="ax_shape">
        <img id="u74_img" class="img " src="/images/home_page/u74.png"/>
        <!-- Unnamed () -->
        <div id="u75" class="text">
          <p><span>锡纸系列</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u76" class="ax_shape">
        <img id="u76_img" class="img " src="/images/home_page/u76.png"/>
        <!-- Unnamed () -->
        <div id="u77" class="text">
          <p><span>川菜</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u78" class="ax_shape">
        <img id="u78_img" class="img " src="/images/home_page/u78.png"/>
        <!-- Unnamed () -->
        <div id="u79" class="text">
          <p><span>主食</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u80" class="ax_shape">
        <img id="u80_img" class="img " src="/images/home_page/u80.png"/>
        <!-- Unnamed () -->
        <div id="u81" class="text">
          <p><span>饮料酒水</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u82" class="ax_shape">
        <img id="u82_img" class="img " src="/images/home_page/u78.png"/>
        <!-- Unnamed () -->
        <div id="u83" class="text">
          <p><span>点歌</span></p>
        </div>
      </div>