// Place all the styles related to the Food_types controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: 

#u99 {
  position:absolute;
  left:20px;
  top:44px;
}
#u100 {
  position:absolute;
  margin:auto;
  overflow:auto;
  width:100%;
  height:100%;
  top: 2px; 
}
#u100_img {
  position:relative;
  width:280px;
  height:21px;
}