<head></head>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#js-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand visible-xs-block" href="/">117号车酷 </a>
			<a class="navbar-brand hidden-xs" href="/">117号车酷酒吧烧烤 </a>
			<% if signed_in_auth? %>
				<a class="navbar-brand" <% if signed_in? %>href="<%= "/tables/" + @current_table.id.to_s %>"<% else %>href="/"<% end %>><%= @current_table.name %><% if @current_authentication.statu==false %>(无效)<% end %></a>
			<% else %>
				<a class="navbar-brand" href="/">无验证码</a>
			<% end %>
		</div>			
					
	
		<div class="collapse navbar-collapse" id="js-navbar-collapse">
			<ul class="nav navbar-nav navbar-right">		
				<li class="dropdown dropdown-accordion dropdown-large" data-accordion="#accordion">
					<%= link_to  "/menus", remote: true, id: "show-menus-post-authentication", class: "menuDropdown", "data-toggle" => "dropdown", "data-target" => "#" do %>
		 				菜单
						<span class="caret"></span>
		 			<% end %>
					<ul id="show-menus" class="dropdown-menu dropdown-food-menus dropdown-menu-large row" role="menu">
   	   			<!-- _dropdown_menu_show -->
  	 			</ul>
			  </li>
				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">歌单 <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">一生有你</a></li>
							<li><a href="#">朋友</a></li>
						</ul>
				 </li>
				
				<% if signed_in? %>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">管理员入口 <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<% if @current_user.admin? || @current_user.huanzhuo? %><li><a href="/tables">前台</a></li><% end %>
								<% if @current_user.admin? %><li><a href="/users/new">创建新成员</a></li><% end %>
								<% if @current_user.admin? %><li><a href="/users">显示所有成员</a></li><% end %>
								<% if @current_user.zhuachuan? %><li><a href="#">抓串</a></li><% end %>
								<% if @current_user.liangcai? %><li><a href="#">凉菜</a></li><% end %>
								<% if @current_user.jiushui %><li><a href="#">酒水</a></li><% end %>
								<% if @current_user.chuancai %><li><a href="#">传菜</a></li><% end %>
								<% if @current_user.zhuchang %><li><a href="#">驻唱</a></li><% end %>
								<li><%= link_to '退出登录', '/sessions/destroy', method: :delete %></li>
							</ul>
					</li>
				<% else %>
					<li><a href="/signin">管理员登录</a></li>
				<% end %>
			</ul>
			
		</div><!-- /.nav-collapse -->
	</div><!-- /.container-fluid -->
</nav>


<script>
// Collapse accordion every time dropdown is shown
$('.dropdown-accordion').on('show.bs.dropdown', function (event) {
  var accordion = $(this).find($(this).data('accordion'));
  accordion.find('.panel-collapse.in').collapse('hide');
	
});

// Prevent dropdown to be closed when we click on an accordion link
$('.dropdown-accordion').on('click', 'a[data-toggle="collapse"]', function (event) {
  event.preventDefault();
  event.stopPropagation();
  $($(this).data('parent')).find('.panel-collapse.in').collapse('hide');
  $($(this).attr('href')).collapse('show');
})

$('.dropdown-accordion').on('click', 'span[data-span="stop"], a[data-a="stop"]', function (event) {
  event.preventDefault();
  event.stopPropagation();
})

$('.dropdown-accordion').on('click', '.delete-little-menu', function (event) {
  $($(this).data('little-menu-id')).addClass('hide');
})

</script>
