<div id="base" class="">

	<div id="u1" class="ax_h1">
      	<%= link_to  root_path do %>
  		<%= image_tag("/images/home_page/u1.png", id: "u1_img", class: "img") %>
		<span id="u2", class="text">117号车酷酒吧烧烤</span>
		<% end %>
      </div>

	<div id="u3" class="ax_shape">
      	<%= link_to  '#' do %>
  		<%= image_tag("/images/home_page/u3.png", id: "u3_img", class: "img") %>
		<span id="u4", class="text">菜单</span>
		<% end %>
      </div>
</div>
